CHILE_USERNAME=username
CHILE_PASSWORD=password

CHILE_LOGIN_URL=https://chile.example.com/login
CHILE_HOME_URL=https://chile.example.com/home
CHILE_CREDIT_TRANSACTIONS_URL=https://chile.example.com/credit-transactions

FALABELLA_USERNAME=username
FALABELLA_PASSWORD=password

FALABELLA_LOGIN_URL=https://falabella.example.com/login
FALABELLA_HOME_URL=https://falabella.example.com/home

GCLOUD_PROJECT=project-id
BUCKET_NAME=screenshot-bucket

STORAGE_LOCATION=local

BROWSER_RECORD_VIDEO=false
